/* Basics Container CSS */

.row {
  display: flex;
  justify-content: space-between;
}

.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attributeBox {
  width: 200px;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: #29251e;
}
.levelClassContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.level,
.class {
  width: 45%;
  text-align: center;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #29251e;
  margin: 5px;
}

.numberWord {
  text-align: center;
}
.basicsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  margin: 0;
}
