/* CSS Variables */
:root {
  --centered-content: flex;
  --grid-position: 1;
}

/* Skills Container */

.skillItem,
.circle {
  display: var(--centered-content);
  align-items: center;
  width: fit-content;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}

.circle.filled {
  background-color: black; /* Fill the circle */
}

.breakLineContainer {
  position: relative;
  width: 50px; /* Set the width to be the same as the break line */
  margin: 0 auto; /* Center the div */
  text-align: center; /* Center the text and break line */
}

.proficiencyNumber {
  position: absolute;
  bottom: 100%; /* Position the number above the break line */
  left: 50%; /* Center the number */
  transform: translateX(-50%); /* Ensure the centering is accurate */
  width: 50px; /* Set the width to be the same as the break line */
}

.breakLine {
  display: inline-block;
  width: 50px;
  border-top: 1px solid white;
}

.wealthContainer {
  background: rgba(255, 255, 255, 0.5); /* White background with 80% opacity */
  padding: 20px; /* Add some padding */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow for a 3D effect */
  color: black;
}
