/* FavouriteCharPage CSS */
.MainCharacterContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.nameContainerGrid {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.skillsContainerGrid {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}

.basicsContainerGrid {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.equipmentContainerGrid {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.traitsContainerGrid {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.featuresContainerGrid {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/* Basics Container CSS */

.row {
  display: flex;
  justify-content: space-between;
}

.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attributeBox {
  width: 200px;
  height: 100px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
.levelClassContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.level,
.class {
  width: 45%;
  text-align: center;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid white;
}

.numberWord {
  text-align: center;
}
.basicsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

hr {
  border: none;
  border-top: 1px solid white; /* Change 'white' to any color you want */
  width: 100%;
}

/* Name Container CSS */
.nameContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attribute {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameBox {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.numberBox {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

.circle {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
