/* FavouriteCharPage CSS & common to all containers CSS */
.MainCharacterContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px 0;
}

.nameContainerGrid {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.basicsContainerGrid {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  height: 50%;
}

.skillsContainerGrid {
  /*grid-column: 1 / 4;*/
  grid-column: 2 / 2;
  grid-row: 2 / 4;
}

.traitsContainerGrid {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.equipmentContainerGrid {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.featuresContainerGrid {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

/* Features blue */
.featuresContainer {
  display: grid; /* This makes .equipmentContainer a grid container */
  grid-template-columns: repeat(
    4,
    1fr
  ); /* This creates four columns of equal width */
  grid-gap: 20px; /* This adds some space between the grid items */
}

/* skillsContainer css */
.skillsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.skillsList {
  grid-column: 1 / 2; /* This places the .skillsList in the first column */
  grid-row: 1 / 3; /* This places the .skillsList in both rows */
}

.savingThrowsList {
  grid-column: 2 / 3; /* This places the .savingThrowsList in the second column */
  grid-row: 1 / 2; /* This places the .savingThrowsList in the first row */
}

.wealthContainer {
  grid-column: 2 / 3; /* This places the .wealthContainer in the second column */
  grid-row: 2 / 3; /* This places the .wealthContainer in the second row */
}

/* CSS Variables */
:root {
  --centered-content: flex;
  --grid-position: 1;
}

/* Skills Container */

.skillItem,
.circle {
  display: var(--centered-content);
  align-items: center;
  width: fit-content;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 5px;
}

.circle.filled {
  background-color: black; /* Fill the circle */
}

.breakLineContainer {
  position: relative;
  width: 25px; /* Set the width to be the same as the break line */
  margin: 0 auto; /* Center the div */
  text-align: center; /* Center the text and break line */
}
.proficiencyNumber {
  position: absolute;
  bottom: 100%; /* Position the number above the break line */
  left: 50%; /* Center the number */
  transform: translateX(-50%); /* Ensure the centering is accurate */
  width: 25px; /* Set the width to be the same as the break line */
}
.breakLine {
  display: inline-block;
  width: 50px;
  border-top: 1px solid white;
}

.wealthContainer {
  background: rgba(255, 255, 255, 0.5); /* White background with 80% opacity */
  padding: 20px; /* Add some padding */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a shadow for a 3D effect */
  color: black;
}
